.container{
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    background-color: var(--neutralLight);
    display: grid;
    grid-template-rows: 30% 70%
}

.input {
    height: 3rem;
    opacity: 0.24;
    /* font-family: Inter; */
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color:var(--neutralDark);
}

.input:focus, 
.input{
    outline: none;
    border: none;
}

.label{
    width: 100%;
    height: 1.4rem;
    /* font-family: Inter-Regular_; */
    font-size: 1.2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: var(--secondaryBlack);
}

.searchInput{
    display: flex;
}

.searchInput input{
    width: 22rem;

}
.searchInput .icon{
    width: 4rem;
    height: 4rem;
}


